* {
    padding: 0;
    margin: 0;
}
html{
    background-color:#272933;
}

body{
    height: 100%;
    background-color: #272933;
    background: url('../images/background.jpg') no-repeat center;
    font-family: helvetica, verdana, sans-serif;
    color: #2F2F2F;
}

a {
    color: #27455F;
    text-decoration: none;
}

.logo {
	font-size: 20px;
}

#mainWrapper {
    height: 100%;
    background-image: -webkit-gradient(
            linear,
            right bottom,
            right top,
            color-stop(0, #EDEDED),
            color-stop(0.08, #EAEAEA),
            color-stop(1, #2F2F2F),
            color-stop(1, #AAAAAA)
    );
    background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
    background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
    background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
    background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
    background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
}

.floatRight{
    float:right;
    margin-right: 18px;
}

.btn-primary {
	background-color: #27455F;
}

.has-error{
    color:red;
}

.generic-container {
    width:100%;
    padding: 0 0 20px 0;
    background-color: #FFF;
    border-radius: 3px;
}

.custom-width {
    width: 80px !important;
    padding: 6px 7px;
}

body, #mainWrapper, .form-control{
    font-size:12px!important;
}

#mainWrapper {
    /*height: 720px; Without explicit px values, % in children's does not work*/
    height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}

.login-container,
.register-container {
    margin-top: 100px;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card,
.register-card {
    width: 80%;
    margin: auto;
    border-radius: 3px;
    background-color: #FFF;
}

.login-form,
.register-form {
    padding: 5% 10% 10% 10%;
}

.login-card h2,
.register-card h2 {
	font-size: 25px;
	text-align: center;
	padding-top: 25px;
	font-weight: bold;
}
.login-card h2 span {
	color:#27455F;
}

.generic-content {
	padding: 0 20px;
    overflow: auto;
}
.generic-content > ul {
	list-style-type: none;
}

.well.lead {
	background-color: #FFF;
	border: 0;
    border-bottom: 2px solid #5F758C;
    border-radius: 0;
    font-size: 35px;
    text-align: center;
    width: 80%;
    margin: 0 auto 15px auto;
}

/** Header **/
.authbar {
    background-color: #27455F;
    color: #FFF;
    width: 100%;
    padding: 8px 10px;
    line-height: 23px;
}
.authbar a {
    color: #fff;
}
.authbar img {
	margin-left: 15px;
}

/** Back-office **/
.panel-default {
	border: 0;
}
.panel-default > .panel-heading {
	background-color: #FFF;
	border: 0;
    border-bottom: 2px solid #5F758C;
    border-radius: 0;
    font-size: 35px;
    text-align: center;
    width: 80%;
    margin: 0 auto 15px auto;
}
.panel-default > .table tbody tr:nth-of-type(even) {
    background-color: #CFDADF;
}
.panel-default > .table tbody tr td {
    vertical-align: middle;
    border-top: #CFDADF;
}
.generic-container #user {
	padding: 0 20px;
}
#user .input-sm {
    border: 1px solid #27455F;
    background: transparent;
    color: #27455F;
}


/** Portfolio **/
.generic-container #portfolio {
	padding: 0 20px;
}
section {
    border-bottom: 15px solid #27455F;
    padding: 25px 0;
    width: 100%;
}
.square {
    width: 35px;
    height: 35px;
    margin-top: 25px;
    margin-bottom: -50px;
    background-color: #27455F;
    transform: translateX(-50%) rotate(45deg);
    margin-left: 50vw;
}
.port-user {
    width: 60%;
    transform: translateX(-50%);
    margin-left: 50vw;

}
.port-user .user-pic {
    width: 300px;
    display: inline-block;
    position: relative;
}
.port-user .user-pic img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    z-index: 2;
    position: relative;
    top: 0;
    left: 20px;
}
.port-user .user-pic .pic-shadow {
    width: 200px;
    height: 200px;
    background-color: #27455F;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.port-user .user-infos {
    vertical-align: top;
    width: calc(100% - 310px);
    display: inline-block;
}
.port-user.perso .user-infos {
    vertical-align: middle;
    width: calc(100% - 310px);
    display: inline-block;
}
.port-user .user-infos h2 {
    border-bottom: 2px solid #5F758C;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 35px;
}
.port-user .user-infos .networks {
    margin-top: 15px;
}
.port-user .user-infos .networks #facebook,
.port-user .user-infos .networks #twitter,
.port-user .user-infos .networks #tumblr,
.port-user .user-infos .networks #linkedin,
.port-user .user-infos .networks #pinterest,
.port-user .user-infos .networks #google {
    background: url('../images/social.png') no-repeat;
    width: 46px;
    height: 47px;
    display: inline-block;
}
.port-user .user-infos .networks #twitter {
    background-position: -58px;
}
.port-user .user-infos .networks #tumblr {
    background-position: -117px;
}
.port-user .user-infos .networks #linkedin {
    background-position: -175px;
}
.port-user .user-infos .networks #pinterest {
    background-position: -291px;
}
.port-user .user-infos .networks #google {
    background-position: -232px;
}

.port-content {
    width: 100%;
    overflow:auto;
}
.port-content .element {
    position: relative;
    width: 32%;
    display: block;
    float: left;
    height: 280px;
    margin-bottom: 10px;
    background-position: center;
    overflow: hidden;
}
.port-content .element:not(:hover) {
    transition: 0.5s ease all;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.port-content .element:hover {
    transition: 0.5s ease all;
}
.port-content a:nth-of-type(3n-2) .element {
    margin-right: 2%;
}
.port-content a:nth-of-type(3n) .element {
    margin-left: 2%;
}
.port-content .element .element-info {
    opacity: 0;
    width: 290px;
    transition: 0.5s ease all;
    z-index: 50;
    text-align: right;
    right: 0;
    transform: translateY(-25%);
    margin-top: 20%;
    padding-right: 25px;
    position: absolute;
    text-shadow: 1px 1px 1px white;
}
.port-content .element:hover .element-info {
    opacity: 1;
    transition: 0.5s ease all;
}
.port-content .element:hover .element-info:after {
    content: "";
    position: absolute;
    transition: 0.5s ease all;
    width: 400px;
    height: 400px;
    right: -65px;
    top: -160px;
    z-index: -1;
    background: rgba(64, 127, 167, 0.5) 0 0 repeat;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.port-content .element .element-info:before {
    transition: 0.5s ease all;
}
.port-content .element .element-info .elem-title {
    font-size: 24px;
    margin: 10px 0;
    display: block;
}
.port-content a {
	color: #2F2F2F;
	text-decoration: none;
}

/** Index **/
.last-portfolio {
	overflow: auto;
}
.last-portfolio li {
	float: left;
	width: 15%;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 10px;
}
.last-portfolio li:nth-of-type(6n - 5) {
	margin-left: 0;
}
.last-portfolio li:nth-of-type(6n) {
	margin-right: 0;
}
.last-portfolio li img {
	display: block;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}
.last-portfolio li div {
    text-align: center;
    width: 70%;
    font-size: 14px;
    margin: 5px auto;
}
.last-portfolio li .title {
    border-bottom: 2px solid #27455F;
}

@media screen and (max-width: 961px) {
	.last-portfolio li {
		float: left;
		width: 32%;
		margin-right: 0%;
		margin-left: 0%;
		margin-bottom: 10px;
	}
	.last-portfolio li:nth-of-type(3n - 2) {
		margin-right: 2%;
	}
	.last-portfolio li:nth-of-type(3n) {
		margin-left: 2%;
	}
}

@media screen and (max-width: 640px) {
	.last-portfolio li {
		float: left;
		width: 49%;
		margin-right: 0%;
		margin-left: 0%;
		margin-bottom: 10px;
	}
	.last-portfolio li:nth-of-type(3n - 2) {
		margin-right: 0%;
	}
	.last-portfolio li:nth-of-type(3n) {
		margin-left: 0%;
	}
	.last-portfolio li:nth-of-type(odd) {
		margin-right: 2%;
	}
}

/** Photos **/
.photo {
	margin-top: 15px;
}
.photo img {
	max-width: 100%;
	margin: auto;
}
.photo .title {
	font-size: 24px;
	text-align: center;
    border-bottom: 2px solid #27455F;
}
.comms li {
	padding: 5px 12px;
}
.comms li:nth-of-type(odd) {
	background-color: #d4e7f7;
}
.displayPhoto h3,
.displayPhoto h4 {
    border-bottom: 2px solid #d4e7f7;
}